<html>
<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

  <header>
    <a href="/"><img src="img/menu.png"/></a>
  </header>

  <h1>
    Welkom op de chat!
  </h1>
  <p>
    Heb je een probleem, vraag of opmerking waar je snel antwoord op wil?
    Dan kan je via deze chat rechtsreeks in contact komen met een van onze medewerkers.
  </p>
</body>
</html>
