<html>
<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <script src="js/javascript.js"></script>
</head>
<body>

  <header>
    <a href="/"><img src="img/menu.png"/></a>
  </header>

  <h1>
    Hebt u nog bijkomende commentaar?
  </h1>

  <p>
    Indien u nog bijkomende commentaar heeft over de route, de chauffeur of de bus zelf kan u deze hieronder geven.
    Wij zullen deze dan verwerken om uw volgende busrit zo aangenaam mogelijk te maken.
  </p>

  <input id="comment" type="text" name="comment">
  <a href="end.ejs"><button type="button">Volgende</button></a>

<footer>
  <a href="chat.ejs"><img class="chat" src="img/chat.png"></a>
</footer>

</body>
</html>
