<html>
<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <script src="js/javascript.js"></script>
</head>
<body>

  <header>
    <a href="/"><img src="img/menu.png"/></a>
  </header>

  <h1>
    Danku voor uw review!
  </h1>

  <p>
    Wij volgen uw review op en zorgen ervoor dat uw volgende rit nog aangenamer is.
  </p>

  <footer>
    <a href="chat.ejs"><img class="chat" src="img/chat.png"></a>
  </footer>

</body>
</html>
