<html>
<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<header>
  <a href="/"><img src="img/menu.png"/></a>
</header>

<h1>
  Wat was u gevoel bij de rit?
</h1>
<p>
  Kies hieronder het gezichtje dat het beste overeenkomt met het jouwe tijdens de rit.
</p>
<body>
  <div class="wrapper">
    <a href="comment.ejs"><img id="box a" class="gevoel" src="img/fantastisch.png"></a>
    <a href="comment.ejs"><img id="box b" class="gevoel" src="img/goed.png"></a>
    <a href="comment.ejs"><img id="box c" class="gevoel" src="img/onzeker.png"></a>
    <a href="comment.ejs"><img id="box d" class="gevoel" src="img/erg.png"></a>
    <a href="comment.ejs"><img id="box e" class="gevoel" src="img/horror.png"></a>
    <a href="comment.ejs"><img id="box f" class="gevoel" src="img/verschikkelijk.png"></a>
  </div>

</body>
</html>
