<html>
<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <script src="js/javascript.js"></script>
</head>
<body>

  <h1>
    Review De Lijn
  </h1>

  <ul>
    <a href="keuze.ejs"><li>Volledige review geven</li></a>
    <br>
    <a href="comment.ejs"><li>Commentaar geven</li></a>
    <br>
    <a href="chat.ejs"><li>Chatten met een van onze medewerkers</li></a>
  </ul>

</body>
</html>
